.country-search-engine {
    display: flex;
    flex-direction: column;
    .search-form {
        margin: 10rem 5rem 10rem 5rem;
        display: flex;
        flex-direction: row;
        input {
            width: 75%;
            font-size: 1.5rem;
            padding: 1rem 0 1rem 1rem;
        }
        .search-button {
            text-align: center;
            font-size: 1.5rem;
            margin-left: 1rem;
            padding: 1rem;
            border-radius: 5px;
            border: none;
            box-shadow: -2px -2px 4px 1px inset gray, -1px -1px 6px 1px gainsboro;
        }
        .search-button:hover {
            box-shadow: -2px -2px 4px 1px gray, -1px -1px 6px 1px gainsboro;
            .clear-button-sudo::after {
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 40px;
                z-index: 200;
                border-radius: 100%;
                border-right: 2px solid brown;
                border-left: 2px solid transparent;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transform: rotate(-45deg) translate3d(61px, -6px, 0);
            }
            .clear-button-sudo::before {
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 40px;
                z-index: 200;
                border-radius: 100%;
                border-right: 2px solid transparent;
                border-left: 2px solid brown;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transform: rotate(-45deg) translate3d(16px, -25px, 0);
            }
        }
        .clear-button::after {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 40px;
            z-index: 200;
            border-radius: 100%;
            border-right: 2px solid palevioletred;
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(45deg) translate3d(7px, -47px, 0);
        }
        .clear-button::before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 40px;
            z-index: 200;
            border-radius: 100%;
            border-right: 2px solid transparent;
            border-left: 2px solid palevioletred;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(45deg) translate3d(-19px, -9px, 0);
        }
        .clear-button-sudo::after {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 40px;
            z-index: 200;
            border-radius: 100%;
            border-right: 2px solid rgb(60, 212, 154);
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(-45deg) translate3d(61px, -6px, 0);
        }
        .clear-button-sudo::before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 40px;
            z-index: 200;
            border-radius: 100%;
            border-right: 2px solid transparent;
            border-left: 2px solid rgb(60, 212, 154);
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(-45deg) translate3d(16px, -25px, 0);
        }
        .clear-button:hover::after {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 40px;
            z-index: 200;
            border-radius: 100%;
            border-right: 2px solid rgb(51, 78, 68);
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(45deg) translate3d(7px, -47px, 0);
        }
        .clear-button:hover::before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 40px;
            z-index: 200;
            border-radius: 100%;
            border-right: 2px solid transparent;
            border-left: 2px solid rgb(51, 78, 68);
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            transform: rotate(45deg) translate3d(-19px, -9px, 0);
        }
    }
}

.country-table {
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    th {
        border: .5rem solid #0a0a09;
        border-radius: 5px;
    }
    td {
        border-left: 0;
        border-right: 0;
        border: .1rem solid #efefef;
        border-radius: 5px;
    }
    @keyframes clickable {
        0% {
            background-color: rgba(70, 76, 85, 0.479);
        }
        50% {
            background-color: darken($color: #5c5a5a44, $amount: 0);
        }
        100% {
            background-color: rgba(70, 76, 85, 0.479);
        }
    }
    .clickable-td {
        cursor: pointer;
        box-shadow: -1px -1px 2px 0px inset grey, -1px -1px 0px 0px gainsboro;
    }
    .clickable-td:hover {
        animation: clickable .5s ease-in;
        box-shadow: 1px 1px 2px 0px inset grey, 1px 1px 0px 0px gainsboro;
        background-color: rgba(70, 76, 85, 0.479);
        ;
    }
    .no-capital {
        font-style: italic;
        background-color: desaturate($color: #b3b2b28c, $amount: 0);
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    .home,
    .project,
    .about {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        z-index: 3;
    }
}

.front {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    z-index: 100;
}

.move-part {
    position: absolute;
    background-color: aqua;
    height: inherit;
    width: 0px;
    top: 0px;
    transition: all .25s ease 0s;
    opacity: 0.5;
}

.about-move-part {
    position: absolute;
    background-color: aqua;
    height: inherit;
    width: 0px;
    top: 0px;
    transition: all .25s ease 0s;
    opacity: 0.5;
}

.project-move-part {
    position: absolute;
    background-color: aqua;
    height: inherit;
    width: 0px;
    top: 0px;
    transition: all .25s ease 0s;
    opacity: 0.5;
}