<form class="country-search-engine" [formGroup]="searchForm">
    <div class="search-form">
        <input type="text" placeholder="Search Country Info" formControlName="searchCountry">

        <button class="clear-button search-button" (click)="cleanCountry('searchCountry')">Clear
              <span class="clear-button-sudo"></span>
            </button>
    </div>

    <div *ngIf="!searchedCountry || searchedCountry.length === 0">
        <table class="country-table">
            <th *ngFor="let country of titles">{{country | uppercase}}</th>

            <tr *ngFor="let country of countrys">
                <td class="clickable-td" (click)="navigateToNewPage('https://en.wikipedia.org/wiki/',country.name)">{{country.name}}</td>
                <td>{{country.topLevelDomain}}</td>
                <td>{{country.alpha2Code}}</td>
                <td>{{country.alpha3Code}}</td>
                <td>{{country.callingCodes}}</td>
                <td *ngIf="country.capital" [ngClass]="{'clickable-td':country.capital}" (click)="navigateToNewPage('https://en.wikipedia.org/wiki/',country.capital)">{{country.capital}}</td>
                <td *ngIf="!country.capital" class="no-capital">{{noCapital}}</td>
                <td>{{country.altSpellings}}</td>
                <td>{{country.region}}</td>
                <td>{{country.subregion}}</td>
                <td>{{country.population}}</td>
                <td>{{country.latlng}}</td>
                <td>{{country.demonym}}</td>
                <td>{{country.area}}</td>
                <td>{{country.gini}}</td>
                <td>{{country.timezones}}</td>
                <td>{{country.borders}}</td>
                <td>{{country.nativeName}}</td>
                <td>{{country.numericCode}}</td>
                <td>{{country.currencies}}</td>
                <td>{{country.languages}}</td>
                <td>
                    {{translationObjectItem(country.translations)}}
                </td>
                <td>{{country.relevance}}</td>
            </tr>

        </table>
    </div>
    <div *ngIf="searchedCountry">
        <table class="country-table">
            <th *ngFor="let country of titles">{{country | uppercase}}</th>
            <tr *ngFor="let country of searchedCountry">
                <td class="clickable-td" (click)="navigateToNewPage('https://en.wikipedia.org/wiki/',country.name)">{{country.name}}</td>
                <td>{{country.topLevelDomain}}</td>
                <td>{{country.alpha2Code}}</td>
                <td>{{country.alpha3Code}}</td>
                <td>{{country.callingCodes}}</td>
                <td *ngIf="country.capital" class="clickable-td" (click)="navigateToNewPage('https://en.wikipedia.org/wiki/',country.capital)">{{country.capital}}</td>
                <td *ngIf="!country.capital" class="no-capital">{{noCapital}}</td>
                <td>{{country.altSpellings}}</td>
                <td>{{country.region}}</td>
                <td>{{country.subregion}}</td>
                <td>{{country.population}}</td>
                <td>{{country.latlng}}</td>
                <td>{{country.demonym}}</td>
                <td>{{country.area}}</td>
                <td>{{country.gini}}</td>
                <td>{{country.timezones}}</td>
                <td>{{country.borders}}</td>
                <td>{{country.nativeName}}</td>
                <td>{{country.numericCode}}</td>
                <td>{{country.currencies}}</td>
                <td>{{country.languages}}</td>
                <td>
                    {{translationObjectItem(country.translations)}}
                </td>
                <td>{{country.relevance}}</td>
            </tr>
        </table>
    </div>
</form>